<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>物流定位监控系统</title>
<link rel="stylesheet"
	href="{{ asset('bundles/emfoxgps/css/zTreeStyle/zTreeStyle.css') }}"
	type="text/css">
<style type="text/css">
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#top {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

#top_content {
	font-size: 30px;
	text-align: center;
}

#aside {
	position: absolute;
	top: 80px;
	width: 159px;
	border-right: 1px solid #bbb;
	background: #ddd;
}

#map {
	margin-left: 160px;
}
</style>
<script type="text/javascript"
	src="{{ asset('bundles/emfoxgps/js/jquery-1.4.4.min.js') }}"></script>
<script type="text/javascript"
	src="{{ asset('bundles/emfoxgps/js/jquery.cookie.js') }}"></script>
<script type="text/javascript"
	src="{{ asset('bundles/emfoxgps/js/jquery.ztree.all-3.5.min.js') }}"></script>
<script type="text/javascript"
	src="{{ asset('bundles/emfoxgps/js/coords_trans.js') }}"></script>
<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=vnqN3eXrBMk2YTtYZsWL1Qru"></script>
</head>

<body onresize="checkSize()">
	<div id="top">
		<div id="top_content">物流定位监控系统</div>
	</div>
	<div id="main">
		<div id="aside">
			单位列表
			<div id="jsonTree" class="ztree"></div>
			<input type="button" value="手动刷新" id="updatepoints"
				ajax-url="{{ path('category_hierarchy') }}" /> <input type="button"
				value="当前位置" id="allpoints" />
			<div>
				百度加密坐标<input type="text" id="mouse_pos_bd09" /> GPS真实坐标<input
					type="text" id="mouse_pos_wgs84" />
			</div>
		</div>
		<div id="map"></div>
	</div>
</body>
<script type="text/javascript">
var ztreeStatusCookieKey ='ztree-log-status-gps1s';
$.cookie.defaults.path = '/';
var zTreeObj;
//zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
var zTreeSetting = { callback:{onExpand:logStatus,onCollapse:logStatus}, data:{key:{name:"title"} } };
var zNodes;
var map;
var bdpoints = new Array();
$(document).ready(function(){

    
	checkSize();
	map = new BMap.Map("map",{mapType: BMAP_HYBRID_MAP});
	map.centerAndZoom(new BMap.Point(116.384, 39.925), 15);
	map.setDefaultCursor("default");

    $('#updatepoints').click(function() {
        $.get($(this).attr("ajax-url"), function (data) {
            zNodes = $.parseJSON(data).ztree;
            reloadzTree();
            reloadOverlay();
		});
    });

    $('#updatepoints').click();
    $('#allpoints').click(function() {
        map.setViewport(bdpoints,{zoomFactor:-1});
    });
    map.addEventListener("mousemove",function(e){
        $('#mouse_pos_bd09').val(e.point.lng+","+e.point.lat);
        p=bd2wgs(e.point);
        p.lng=Math.round(p.lng*1000000)/1000000;
        p.lat=Math.round(p.lat*1000000)/1000000;
        $('#mouse_pos_wgs84').val(p.lng+","+p.lat);
    });
});
function reloadzTree(){
    zTreeObj = $.fn.zTree.init($("#jsonTree"), zTreeSetting, zNodes);
    var opennodes = ($.cookie(ztreeStatusCookieKey) && $.cookie(ztreeStatusCookieKey).split(',') )|| [];

	if(opennodes !== null && opennodes.length !== 0)
	{
		for ( i in opennodes){
			the_node = zTreeObj.getNodeByParam("id",opennodes[i])
			if(the_node)
				the_node.open = true;
		}
	}
	zTreeObj.refresh();
}

function reloadOverlay(){
    map.clearOverlays();
    var nodes = zTreeObj.transformToArray(zTreeObj.getNodes());
    Object.keys(nodes).forEach(function(key) {
        if(nodes[key].lat*nodes[key].lng !=0)
        	addMarker(nodes[key]);
    });
}
function checkSize() {
	var h = document.documentElement.clientHeight;
	document.getElementById('aside').style.height = h - 80 + "px";
	document.getElementById('map').style.height = h - 80 + "px";
	}

function addMarker(point){ 
    p = new BMap.Point(point.lng,point.lat);
    bdpoints.push(p);
    content = "<p>单位："+point.title+"</p><p>更新时间："+ point.updatetime.date+"</p>";
    var marker = new BMap.Marker(p);  
    var infoWindow = new BMap.InfoWindow(content);   
    map.addOverlay(marker);  
    marker.addEventListener("click", function(){            
        this.openInfoWindow(infoWindow);  
    });
    opts = {
  		  position : p,    // 指定文本标注所在的地理位置
  		  offset   : new BMap.Size(10, -15)    //设置文本偏移量
  		}
	var label = new BMap.Label(point.title, opts);
	map.addOverlay(label);
    label.addEventListener("click", function(){            
        this.hide();  
    });
}
function logStatus(event, treeId, treeNode)
{

	var _nodes = ($.cookie(ztreeStatusCookieKey) && $.cookie(ztreeStatusCookieKey).split(',') )|| [];
	var _index = $.inArray(treeNode.id + '', _nodes);

	if(treeNode.open && _index === -1)
	{
		_nodes.push(treeNode.id);
	}	
	else
	{
		_nodes.splice(_index, 1);
	}

	$.cookie(ztreeStatusCookieKey, _nodes.join(','));
}

</script>
</html>