{% extends 'adminbase.html.twig' %}

{% block body -%}
    <h1>用户管理</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>电子邮件</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">修改</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
            	 新建用户
            </a>
        </li>
    </ul>
    {% endblock %}
